<header>
  <nav class="container py-4">
    <ul class="d-flex justify-content-between list-unstyled m-0">
      <li>
        <button
          class="menu-btn rounded-circle"
          (click)="onToggleSidenav()"
          mat-icon-button
        >
          <span class="material-icons">menu</span>
        </button>
      </li>
      <li class="align-self-center">
        <a
          routerLink="/"
          (click)="onCloseSidenav()"
          class="text-uppercase text-decoration-none font-weight-bold"
          >cars.com</a
        >
      </li>
      <li>
        <a href="#" mat-icon-button
          ><span
            (click)="toggleBadgeVisibility()"
            class="material-icons"
            [matBadgeHidden]="hidden"
            matBadge="15"
            matBadgeColor="primary"
            >favorite_border</span
          ></a
        >
        <a (click)="openSearchDialog()" class="ml-1" mat-icon-button
          ><span class="material-icons">search</span></a
        >
      </li>
    </ul>
  </nav>
</header>
