<header>
  <nav class="container py-4">
    <ul class="d-flex justify-content-between list-unstyled m-0">
      <li>
        <a href="#" mat-icon-button><span class="material-icons">menu</span></a>
      </li>
      <li class="align-self-center">
        <a
          routerLink="/"
          class="text-uppercase text-decoration-none font-weight-bold"
          >cars.com</a
        >
      </li>
      <li>
        <a href="#" mat-icon-button
          ><span class="material-icons">favorite_border</span></a
        >
        <a href="#" class="pl-2" mat-icon-button
          ><span class="material-icons">search</span></a
        >
      </li>
    </ul>
  </nav>
</header>
