<mat-card class="example-card">
  <mat-card-header class="justify-content-center">
    <mat-card-title>{{ item.createdOn | date: 'EEE, d MMM y' }}</mat-card-title>
  </mat-card-header>
  <img [src]="item.imageUrl" mat-card-image alt="Photo not Found" />
  <span>{{ item.price }}</span>
  <mat-card-content>
    <mat-card-title class="border-bottom">{{
      item.name | slice: 0:26
    }}</mat-card-title>
    <p>{{ item.description | slice: 0:80 }}...</p>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <div>
      <button class="rounded-circle" mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <button class="rounded-circle" mat-icon-button color="warn">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <app-button routerLink="/details/{{ item.id }}" class="mr-2"
      >Read</app-button
    >
  </mat-card-actions>
</mat-card>
