<div class="container">
  <p class="mt-3 text-center text-uppercase">Create new advertisement</p>
  <form [formGroup]="form" class="my-3">
    <p class="text-center pt-3 border-top">Add your car parameters</p>
    <div
      class="d-flex flex-column flex-sm-row flex-wrap justify-content-between align-items-center"
    >
      <app-reactive-input
        [form]="form"
        label="Make"
        name="make"
        type="text"
        placeholder="Audi"
        error="Make is required!"
      ></app-reactive-input>
      <app-reactive-input
        [form]="form"
        label="Model"
        name="model"
        type="text"
        placeholder="A3 Sportback"
        error="Model is required!"
      ></app-reactive-input>
      <app-reactive-input
        [form]="form"
        label="Description"
        name="description"
        type="text"
        placeholder="Short description"
        error="Description is required!"
      ></app-reactive-input>
      <app-reactive-input
        [form]="form"
        label="Price"
        name="price"
        type="text"
        placeholder="13 000$"
        error="Price is required!"
      ></app-reactive-input>
    </div>
    <p class="text-center pt-3 border-top">Add here your image/s link/s</p>
    <div
      formArrayName="images"
      class="d-flex flex-wrap flex-column flex-sm-row justify-content-between align-items-center"
    >
      <div
        *ngFor="let item of images.controls; let i = index"
        [formGroupName]="i"
        class="images d-flex position-relative"
      >
        <app-reactive-input
          [form]="images"
          label="Image"
          name="{{ i }}"
          type="text"
          placeholder="https://..."
          error="Image is required!"
        ></app-reactive-input>
        <button
          *ngIf="images.length > 1"
          (click)="removeQuantity(i)"
          class="menu-btn delete-btn"
          mat-icon-button
        >
          <span class="delete material-icons">delete</span>
        </button>
      </div>
    </div>
    <button
      (click)="addImage()"
      class="d-flex justify-content-center align-items-center m-auto menu-btn"
      mat-icon-button
    >
      <span class="add material-icons">add_circle</span>
    </button>
    <p class="text-center pt-3 border-top">Choose car extras</p>
    <div class="row ml-2 ml-sm-0 pb-3">
      <div
        *ngFor="let subtask of subtasks"
        class="col-12 col-sm-6 col-md-4 col-lg-3"
      >
        <section class="example-section">
          <mat-checkbox color="primary" class="example-margin">{{
            subtask.name
          }}</mat-checkbox>
        </section>
      </div>
    </div>
    <app-button class="d-flex justify-content-center py-5">Create</app-button>
  </form>
</div>
