<mat-card class="example-card">
  <mat-card-header class="justify-content-center">
    <mat-card-title>{{ item.createdOn | date: 'EEE, d MMM y' }}</mat-card-title>
  </mat-card-header>
  <img [src]="item.image" mat-card-image alt="Photo not Found" />
  <span>{{ item.price }}</span>
  <mat-card-content class="mb-2">
    <mat-card-title class="border-bottom"
      >{{ item.make | slice: 0:8 }}
      {{ item.model | slice: 0:18 }}</mat-card-title
    >
    <p>{{ item.description | slice: 0:80 }}...</p>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button class="rounded-circle" mat-icon-button color="warn">
      <mat-icon>create</mat-icon>
    </button>
    <button class="rounded-circle" mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
