@import '../../../../../styles';

img {
  height: to-rem(210px);
  object-fit: cover;
}

.price {
  position: absolute;
  top: to-rem(194px);
  right: to-rem(14px);
  border: to-rem(2px) solid color('orange');
  border-radius: to-rem(14px);
  padding: 0 to-rem(14px);
  background: color('white');
  font-size: to-rem(20px);
}
